span{
    display: flex;
    justify-content: center;
}

.imagecontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    padding-top: 12%;
}


img{
    width: 10%;
    height: 10%;
    justify-content: center;
    
    
}

img:hover{
    transform: scale(1.3);
}

p{
    text-align: center;
    padding-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 4vw;
}

.pick{
    text-align: center;
    font-size: 2vw;
    font-family: "Lucida Console", "Courier New", monospace;
    padding-top: 10px ;
    
}
